# Files to exclude from the extension package
.vscode/**
.git/**
node_modules/**
src/test/**
test-fixtures/**
**/*.map
**/*.ts
!**/*.js
**/tsconfig.json
**/jest.config.js
**/*.test.*
**/*.spec.*
**/.eslintrc.*
**/.gitignore
**/DEPLOYMENT.md